#include <dt-bindings/gpio/gpio.h>

/include/ "system-conf.dtsi"
/ {
	model = "Digilent Zybo Z7-20 board (BSUIR EVS)";
	compatible = "digilent,zynq-zybo-z7", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	gpio-leds {
		compatible = "gpio-leds";

		led-ld4 {
			label = "zynq-zybo-z7-20:green:ld4";
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;
		btn4 {
			label = "btn4";
			gpios = <&gpio0 50 0>;
			linux,code = <108>; /* down */
			gpio-key,wakeup;
			autorepeat;
		};
		btn5 {
			label = "btn5";
			gpios = <&gpio0 51 0>;
			linux,code = <103>; /* up */
			gpio-key,wakeup;
			autorepeat;
		};
	};

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@1 {
		reg = <1>;
		device_type = "ethernet-phy";
	};
};

&usb0 {	
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
	status = "okay";
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
	/*
    	max-frequency = <20000000>;
    	disable-wp;
    	no-1-8-v;
	*/
};

&qspi {
	u-boot,dm-pre-reloc;
};

&flash0 {
	compatible = "micron,m25p80", "s25fl128s", "spi-flash";
};

&uart1 {
	status = "okay";
};
